.commentOutput {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 1% 1% 0 0;
}

.commentText {
  display: flex;
  margin: 1% 0 0 1%;
}

.userName {
  font-weight: bold;
  font-size: 12px;
}

/* CommentInput */
.commentBox {
  width: 99.2%;
  border: none;
  margin: 4% 0 4% 1%;
  border-right: 1px solid lightgray;
}